@import "./styleguide.css";

/* ! ****************** HEAD *****************************/

.header {
  font-size: 12px;
  line-height: 1;
  box-shadow: 0px 1px 10px 0px rgba(246, 80, 80, 0.15);
}

.base-header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.weather {
  margin-inline-end: 16px;
}

.weather span {
  margin-inline: 7px 14px;
}

.news-title {
  margin-inline-end: 14px;
  padding: 15px 7px;
  max-inline-size: 96px;
  color: var(--main-white);
  background-color: var(--main-red);
}

.icon {
  inline-size: 16px;
  block-size: 16px;
  transform: translateY(3px);
}

.date > .icon,
.date {
  margin-inline-end: 14px;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-item {
  border-radius: 50%;
  transition: 1s;
}

.social-item:hover {
  transform: scale(1.2);
}

.facebook {
  background-color: var(--tile-behance);
}

.twitter {
  background-color: var(--tile-twitter);
}

.instagram {
  background-color: var(--tile-instagram);
}

.youtube {
  background-color: var(--tile-youtube);
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
}

.social-img {
  fill: var(--main-white);
  inline-size: 16px;
  block-size: 16px;
  transform: translate(4px, 4px);
}

/* ! ****************** INFO *****************************/

.info-panel {
  margin-block: 25px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.logo {
  max-inline-size: 247px;
  block-size: 62px;
}

.banner {
  padding: 16px 26px 12px;
  max-inline-size: 771px;
  background: center / cover no-repeat url("img/banner.jpg");

  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.white-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: var(--main-white);
}

.white-text span {
  text-transform: uppercase;
  font-weight: 700;
}

.red-text {
  color: var(--main-red);
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.btn-banner {
  max-block-size: 44px;
  padding: 13px 20px;
  color: var(--main-white);
  background-color: var(--main-red);
  border: none;
  text-transform: uppercase;
  font-family: "Sofia Pro";
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: color 350ms linear, background-color 300ms linear;
}

.btn-banner:hover {
  color: var(--main-red);
  background-color: var(--main-white);
}

/* ! ****************** MENU *****************************/

.menu {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background: var(--main-gray);
}

.menu-list {
  display: grid;
  grid-auto-flow: column;
}

.menu-item {
  padding-block: 15px;
  padding-inline: 12.5px;
}

.menu-item h2 {
  color: var(--main-white);
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.35;
}

.search {
  background: var(--main-gray);
  border: none;
}

.search-input {
  padding-inline-start: 16px;
  outline: none;
  border-left: 0.5px solid rgba(255, 255, 255, 0.3);
  color: var(--main-white);
  caret-color: var(--main-white);
  font-size: 14px;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 10px;
  font-weight: 300;
  line-height: 1;
}

.search-btn {
  padding-inline-end: 24px;
}

.search-icon {
  inline-size: 12px;
  block-size: 12px;
}

.levels {
  cursor: pointer;
  position: relative;
}

.icon-chevron {
  fill: var(--main-white);
  inline-size: 24px;
  block-size: 24px;
  transform: translateY(3px);
}

.levels-list {
  display: none;
}

.levels-list h2 {
  background: var(--main-gray);
  color: var(--main-white);
}

.levels:hover .levels-list {
  display: block;
  position: absolute;
  top: 55px;
}

/* ! ****************** HERO *****************************/

.hero {
  padding-block: 25px 50px;
  color: var(--main-white);
}

.side-wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: 281px 281px 235px 485px;
  grid-template-rows: 278px 278px;
}

.side {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-l {
  grid-column: span 2;
  grid-row: span 2;
  background: center / cover no-repeat url("./img/h1.jpg");
}

.side-t-l {
  background: no-repeat url("./img/h2.jpg");
}

.side-t-r {
  background: no-repeat url("./img/h3.jpg");
}

.side-b {
  grid-column: span 2;
  grid-row: span 1;
  background: no-repeat url("./img/h4.jpg");
}

.label {
  padding: 6px 8px;
  max-inline-size: 54px;
  font-size: 10px;
  line-height: 1;
}

.side-l > .label-color {
  background: var(--blue);
}

.side-t-l > .label-color {
  background: var(--nut);
}

.side-t-r > .label-color {
  background: var(--blue);
}

.side-b > .label-color {
  background: var(--light-blue);
}

.sup-text {
  font-size: 10px;
  line-height: 1;
}

.sup-text.big {
  font-size: 12px;
}

.title {
  font-family: "Oswald";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;
}

.title.sm {
  max-inline-size: 165px;
}

.title.mid {
  font-size: 24px;
  max-inline-size: 295px;
}

.title.big {
  font-size: 36px;
  line-height: 1.47;
  max-inline-size: 477px;
}

/* ! ****************** ARTICLE BLOCK *****************************/

.grid-box {
  display: grid;
  grid-template: 1fr / 75% 25%;
  gap: 30px;
  justify-content: start;
  align-items: baseline;
}

.article-header {
  margin-block-end: 24px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.article-name {
  color: var(--main-red);
  font-family: "Oswald";
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.article-name-list {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
}

.article-name-list li span {
  padding-inline: 8px;

  color: var(--main-white);
  font-family: "Oswald";
  font-size: 12px;
  line-height: 1.333;
}

.article-name-list li:nth-child(1) span {
  background: var(--red);
}
.article-name-list li:nth-child(2) span {
  background: var(--violet);
}
.article-name-list li:nth-child(3) span {
  background: var(--green);
}
.article-name-list li:nth-child(4) span {
  background: var(--blue);
}
.article-name-list li:nth-child(5) span {
  background: var(--nut);
}
.article-name-list li:nth-child(6) span {
  background: var(--light-blue);
}
.article-name-list li:nth-child(7) span {
  background: var(--blue);
}
.article-name-list li:nth-child(8) span {
  background: var(--dark-blue);
}

.border-line {
  position: relative;
}

.border-line::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 140px;
  block-size: 1px;
  background-color: var(--main-red);
}

.border-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 140px;
  right: 0;
  block-size: 1px;
  background-color: var(--main-gray);
}

.article-box {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
}

.big-img {
  margin-block-end: 25px;
  inline-size: 393px;
  block-size: 250px;
}

.thumb {
  position: relative;
}

.thumb > span {
  position: absolute;
  top: 25px;
  left: 25px;

  background: var(--violet);
  color: var(--main-white);
}

.article-block{
  max-inline-size: 394px;
}

.accent{
  color: var(--text-black);
}

title.imp{
  max-inline-size: 394px;
}

.article-block > h2 {
  margin-block: 6px;
}

.article-block > p {
  max-inline-size: 370px;
  color: var(--text-black);
  font-size: 14px;
  font-weight: 250;
}

.article-list {
  display: grid;
  gap: 16px;
}

.article-list li {
  display: grid;
  grid-auto-flow: column;
  gap: 19px;
}

.article-list li img {
  inline-size: 90px;
  block-size: 70px;
}

.article-side-box .border-line::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 72px;
  block-size: 1px;
  background-color: var(--main-red);
}

.article-side-box .border-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 72px;
  right: 0;
  block-size: 1px;
  background-color: var(--main-gray);
}

.article-side-box .article-name{
  color: var(--main-gray);
  font-family: Oswald;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.article-side-list {
  display: grid;
  gap: 17px;
}

.article-side-list h2 {
  max-inline-size: 139px;
}

.article-side-list li {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
}

.article-side-list img {
  inline-size: 70px;
  block-size: 70px;
}