@import "./styleguide.css";

/* ! ****************** HEAD *****************************/

.header {
  font-size: 12px;
  line-height: 1;
  box-shadow: 0px 1px 10px 0px rgba(246, 80, 80, 0.15);
}

.base-header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.weather {
  margin-inline-end: 16px;
}

.weather span {
  margin-inline: 7px 14px;
}

.news-title {
  margin-inline-end: 14px;
  padding: 15px 7px;
  max-inline-size: 96px;
  color: var(--main-white);
  background-color: var(--main-red);
}

.icon {
  inline-size: 16px;
  block-size: 16px;
  transform: translateY(3px);
}

.date > .icon,
.date {
  margin-inline-end: 14px;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-item {
  border-radius: 50%;
  transition: 1s;
}

.social-item:hover {
  transform: scale(1.2);
}

.facebook {
  background-color: var(--tile-behance);
}

.twitter {
  background-color: var(--tile-twitter);
}

.instagram {
  background-color: var(--tile-instagram);
}

.youtube {
  background-color: var(--tile-youtube);
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
}

.social-img {
  fill: var(--main-white);
  inline-size: 16px;
  block-size: 16px;
  transform: translate(4px, 4px);
}

/* ! ****************** INFO *****************************/

.info-panel {
  margin-block: 25px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.logo {
  max-inline-size: 247px;
  block-size: 62px;
}

.banner {
  padding: 16px 26px 12px;
  max-inline-size: 771px;
  background: center / cover no-repeat url("img/banner.jpg");

  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.white-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: var(--main-white);
}

.white-text span {
  text-transform: uppercase;
  font-weight: 700;
}

.red-text {
  color: var(--main-red);
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.btn-banner {
  max-block-size: 44px;
  padding: 13px 20px;
  color: var(--main-white);
  background-color: var(--main-red);
  border: none;
  text-transform: uppercase;
  font-family: "Sofia Pro";
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: color 350ms linear, background-color 300ms linear;
}

.btn-banner:hover {
  color: var(--main-red);
  background-color: var(--main-white);
}

/* ! ****************** MENU *****************************/

.menu {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background: var(--main-gray);
}

.menu-list {
  display: grid;
  grid-auto-flow: column;
}

.menu-item {
  padding-block: 15px;
  padding-inline: 12.5px;
}

.menu-item h2 {
  color: var(--main-white);
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.35;
}

.search {
  background: var(--main-gray);
  border: none;
}

.search-input {
  padding-inline-start: 16px;
  outline: none;
  border-left: 0.5px solid rgba(255, 255, 255, 0.3);
  color: var(--main-white);
  caret-color: var(--main-white);
  font-size: 14px;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 10px;
  font-weight: 300;
  line-height: 1;
}

.search-btn {
  padding-inline-end: 24px;
}

.search-icon {
  inline-size: 12px;
  block-size: 12px;
}

.levels {
  cursor: pointer;
  position: relative;
}

.icon-chevron {
  fill: var(--main-white);
  inline-size: 24px;
  block-size: 24px;
  transform: translateY(3px);
}

.levels-list{
  display: none;
}

.levels-list h2 {
  color: var(--main-gray);
}

.levels:hover .levels-list {
  display: block;
  position: absolute;
  top: 55px;
}